<div>
  <h1>Pick a Challenge!</h1>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
>
  <!-- Users Location -->
  <agm-marker *ngIf="userLocation" [latitude]="lat" [longitude]="lng">
    <agm-info-window>
      <strong>Your Location!</strong>
    </agm-info-window>
  </agm-marker>

  <agm-circle
    *ngFor="let c of challenges; let i = index"
    [latitude]="c.data().location.latitude"
    [longitude]="c.data().location.longitude"
    [radius]="200"
    [fillColor]="'red'"
  >
    <agm-marker
      (markerClick)="clickedMarker(c)"
      [latitude]="c.data().location.latitude"
      [longitude]="c.data().location.longitude"
    >
      <!-- <agm-info-window>
        <div>
          <strong>{{ c.label }}</strong>
        </div>
        <div>
          <button (click)="clickedButton()">View Challenge</button>
        </div>
      </agm-info-window> -->
    </agm-marker>
  </agm-circle>
</agm-map>

<router-outlet></router-outlet>
