<div id="container">
    <mat-card id="title-card" style="margin-bottom: 1rem;">
        <mat-card-title>Take Photo</mat-card-title>
    </mat-card>
    
    <div *ngIf="showWebcam; then thenBlock else elseBlock" style="text-align: center;"></div>
    
    <ng-template #thenBlock>
        <!-- Take Photo -->
        <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handleInitError($event)" [captureImageData]="true"></webcam>
        <br/>
        <button mat-mini-fab (click)="capture()">
            <mat-icon>camera</mat-icon>
        </button>
    </ng-template>
    
    <ng-template #elseBlock>
        <!-- Review Photo -->
        <img id="finalImage" [src]="webcamImage.imageAsDataUrl"/>
        <br />
        <div style="display: flex; justify-content: space-around;">
            <button mat-raised-button (click)="toggleWebcam()">Try Again</button>
            <button mat-raised-button (click)="emitPhoto()">Use This Photo</button>
        </div>
    </ng-template>
</div>
