<app-explorer-map
  *ngIf="viewMap"
  (notifyViewPhoto)="onNotifyViewPhoto($event)"
  (notifyTakePhoto)="onNotifyTakePhoto()"
>
  ></app-explorer-map
>

<app-explorer-view-photo
  *ngIf="viewPhoto"
  [challenge]="challenge"
  (notifyViewMap)="onNotifyViewMap()"
  (notifyTakePhoto)="onNotifyTakePhoto()"
></app-explorer-view-photo>

<app-explorer-take-photo
  *ngIf="takePhoto"
  [challenge]="challenge"
  (notifyViewMap)="onNotifyViewMap()"
  (notifyViewPhoto)="onNotifyViewPhoto($event)"
></app-explorer-take-photo>

<router-outlet></router-outlet>
