@media only screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    #mobile {
        padding: 1rem;
        height: calc(100vh - (2 * 56px) - 2rem);

        display: flex;
        flex-direction: column;
    }
}

#login-card {
    margin-top: 1rem;
    text-align: center;
}