<div id="container">
    <div id="desktop">
        <mat-card>
            <mat-card-title>Welcome to the app</mat-card-title>
            <mat-card-subtitle>Please make sure to use this app on your phone</mat-card-subtitle>
        </mat-card>
    </div>
    
    <div id="mobile">
        <mat-card id="intro-card">
            <mat-card-title style="text-align: center;">Welcome to What's That Space</mat-card-title>
            <mat-card-subtitle>Enjoy your time!</mat-card-subtitle>
            <img mat-card-image src="https://i.imgur.com/opUUj37.png" alt="Picture of a map">
        </mat-card>

        <mat-card style="margin-top: 1rem;">
            Covid has hit us hard in the UK and we've spent many months in lockdown since last march, this has meant barely being able to see friends, family or socialise. 
            <br>
            What's That Place encourages people to get out, take pretty photos and challenge other people to discover the area.
        </mat-card>
    </div>
    
    
</div>