<div *ngIf="!createChallengeView; then thenBlock else elseBlock" style="text-align: center;"></div>

<ng-template #thenBlock>
<div id="challenge-list">
    <mat-card id="title-card">
        <mat-card-title>Your Challenges</mat-card-title>
        <button mat-raised-button color="accent" (click)="createChallengeView = true">Create Challenge!</button>
    </mat-card> 
    <app-challenge-card *ngFor="let challenge of challenges" [challenge]='challenge' (deleteChallengeEvent)="receiveDeleteChallengeEvent($event)"></app-challenge-card>
</div>
</ng-template>

<ng-template #elseBlock>
    <div id="creator-view" style="text-align: center;">
    <div [ngSwitch]="createStep">
        <!-- Take photo -->
        <app-camera    *ngSwitchCase=1    (cameraEvent)="receiveCameraEvent($event)"></app-camera>
        <!-- Enter Location -->
        <div           *ngSwitchCase=2 style="padding: 1rem;">
            <mat-card style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
                <mat-card-title>Select Location</mat-card-title>
                <!-- Create the challenge -->
            <button mat-raised-button (click)="createChallenge()">Finish!</button>
            </mat-card>
            <div>
                <mat-card style="padding: 0;">
                <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                >
                <!-- Users Location -->
                <agm-marker *ngIf="userLocation" [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                    <agm-info-window>
                    <strong>Your Location!</strong>
                    </agm-info-window>
                </agm-marker>
                </agm-map>
            </mat-card>
            </div>
        </div>
    </div>
<!-- Cancel at any point -->
<button id="cancel-button" mat-raised-button color="warn" (click)="cancelCreateChallenge()">Cancel</button>
</div>
</ng-template>
       
