<button mat-button [disabled]="currentChallengeIndex <= 0" (click)="previousChallenge()">PREVIOUS</button>
<p>Challenge {{ currentChallengeIndex + 1 }} of {{ challenges.length }}.</p>
<button mat-button [disabled]="currentChallengeIndex >= challenges.length" (click)="nextChallenge()">NEXT</button>
<h1>Original image</h1>
<img mat-card-image src="{{ currentChallenge.photoURL }}" alt="challenge_image">
<div *ngFor="let submission of submissions">
    <mat-card>
        <mat-card-title>{{ submission.submitterUID }}</mat-card-title>
        <img mat-card-image src="{{ submission.photoURL }}" alt="submission_image">
        <mat-card-actions>
            <button mat-button (click)="acceptSubmission(currentChallenge, submission)">ACCEPT</button>
            <button mat-button (click)="rejectSubmission(currentChallenge, submission)">REJECT</button>
        </mat-card-actions>
    </mat-card>
</div>